<div class="chat">
	<p class="cerrar_consulta" ng-if="$ctrl.session.getCurrentUser().es_medico && $ctrl.isChatting">
		<button class="btn btn-danger btn-block btn-xs" ng-click="$ctrl.close()">
			<i class="fa fa-times" aria-hidden="true"></i> Cerrar consulta
		</button>
	</p>

	<div class="chat-window" ng-if="$ctrl.isChatting">
		<div class="mensajes">
			<p class="cargar-mas" ng-click="$ctrl.loadMore()">Cargar más</p>
			<div class="mensaje {{ m.owner == '_____system_____' ? 'text-center' : '' }}" ng-repeat="m in $ctrl.mensajes">
				<div class="bubble {{ m.owner == $ctrl.session.getCurrentUser().usuario ? 'derecha' : (m.owner == '_____system_____' ? '' : 'izquierda') }}">
					<b ng-if="m.owner != '_____system_____'"><small>{{ m.owner_name | capitalize }} {{ m.hora_str || 'hace un momento' | timeago }}</small><br/></b>
					<span ng-bind-html="m.html"></span>
					<br><span class="leido" ng-if="m.leido == 1 && m.owner == $ctrl.session.getCurrentUser().usuario">Leído</span>
				</div>
			</div>
		</div>

		<textarea ng-model="$ctrl.mensaje" ng-disabled="$ctrl.session.getCurrentUser().cons_restantes == 0 && !$ctrl.session.getCurrentUser().es_medico" placeholder="Escribe tu mensaje aquí..." ng-keydown="$ctrl.send($event)" autofocus></textarea>
		<div class="botones">
			<button type="button" class="btn-enviar" ng-click="$ctrl.send()" ng-disabled="!$ctrl.mensaje || $ctrl.session.getCurrentUser().cons_restantes == 0"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>
			<!-- <input type="file" nv-file-select="" uploader="uploader"/>
			<input type="submit" value="Subir archivo"/> -->
			<!-- <button type="button" class="btn-imagen" ng-click="openUploadDialog()"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></button> -->

			<div
			  class="btn-imagen"
			  upload-button
			  accept="image/*"
			  id="uploader"
			  url="./upload?medico={{ $ctrl.medico.id }}&paciente={{ $ctrl.paciente.id }}&owner={{ $ctrl.session.getCurrentUser().usuario }}&owner_name={{ $ctrl.session.getCurrentUser().nombre + ' ' + session.getCurrentUser().apellido }}"
			  on-success="$ctrl.onUpload(response)"
			  on-upload="$ctrl.simulate(response)"
			></div>
		</div>
	</div>

	<p ng-if="!$ctrl.isChatting">
	  Por favor selecciona con quién deseas chatear.	  
	</p>
</div>