# Poner UTF8 en todos los .html
AddCharset UTF-8 .html

# Evitar que se muestre el contenido de las carpetas
Options -Indexes

# Pagina de 404 not found
ErrorDocument 404 /medicos/404.html

# Prohibir acceso a .htaccess
<Files ~ “^.*\.([Hh][Tt][Aa])”>
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on

# Reglas para la API
RewriteRule ^api/lugares$ /medicos/php/run.php?fn=cargar_lugares [QSA,L]
RewriteRule ^api/telefonos/tipos$ /medicos/php/run.php?fn=cargar_tipos_telefonos [QSA,L]
RewriteRule ^api/medicos$ /medicos/admin/php/run.php?fn=cargar_medicos [QSA,L]
RewriteRule ^api/areas$ /medicos/admin/php/run.php?fn=cargar_areas [QSA,L]

RewriteRule ^api/check/(.+)/(.+)$ /medicos/php/run.php?fn=check_$1&val=$2 [QSA,L]