# Poner UTF8 en todos los .html
AddCharset UTF-8 .html

# Evitar que se muestre el contenido de las carpetas
Options -Indexes

# Pagina de 404 not found
ErrorDocument 404 /medicos/404.html

# Prohibir acceso a .htaccess
<Files ~ “^.*\.([Hh][Tt][Aa])”>
order allow,deny
deny from all
satisfy all
</Files>

RewriteEngine on

# Reglas para la API
RewriteRule ^api/login$ /medicos/php/run.php?fn=login [QSA,L]
RewriteRule ^api/reload$ /medicos/php/run.php?fn=reload [QSA,L]
RewriteRule ^api/lugares$ /medicos/php/run.php?fn=lugares [QSA,L]
RewriteRule ^api/telefonos/tipos$ /medicos/php/run.php?fn=tipos_telefonos [QSA,L]
RewriteRule ^api/medicos$ /medicos/php/run.php?fn=medicos [QSA,L]
RewriteRule ^api/paciente$ /medicos/php/run.php?fn=paciente [QSA,L]
RewriteRule ^api/medicos$ /medicos/php/run.php?fn=medicos [QSA,L]
RewriteRule ^api/mensajes$ /medicos/php/run.php?fn=mensajes [QSA,L]
RewriteRule ^api/mensajes/leidos$ /medicos/php/run.php?fn=leidos [QSA,L]
RewriteRule ^api/mensajes/pendientes$ /medicos/php/run.php?fn=mensajes_pendientes [QSA,L]
RewriteRule ^api/mensaje$ /medicos/php/run.php?fn=mensaje [QSA,L]
RewriteRule ^api/pacientes$ /medicos/php/run.php?fn=pacientes [QSA,L]
RewriteRule ^api/areas$ /medicos/php/run.php?fn=areas [QSA,L]
RewriteRule ^api/check/(.+)/(.+)$ /medicos/php/run.php?fn=check_$1&val=$2 [QSA,L]
RewriteRule ^api/suscripcion/tipos /medicos/php/run.php?fn=tiposuscripcion [QSA,L]
RewriteRule ^upload /medicos/php/upload.php [QSA,L]
RewriteRule ^api/consulta$ /medicos/php/run.php?fn=consulta [QSA,L]