<div class="aboutus">
	<h1>acerca de nosotros</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h2>

	<div style="margin-top: 80px; margin-bottom: 40px; width: 100%;">
		<div style="border-top: 2px solid #666; width: 20%; margin: 0 auto;">&nbsp;</div>
	</div>

	<div class="container-fluid">
		<div class="col-sm-6">
			<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua.</h3>
			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</h4>
			<h4>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>

			<ul>
				<li>Lorem ipsum dolor sit amet</li>
				<li>Consectetur adipisicing elit</li>
				<li>Sed do eiusmod tempor incididunt</li>
				<li>Ut enim ad minim veniam</li>
				<li>Duis aute irure dolor in reprehenderit</li>
			</ul>
		</div>

		<div class="col-sm-6">
			<img src="img/medical-banner.jpg" style="width: 100%;" />

			<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</h4>
			<h4>Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
		</div>
	</div>
</div>