<div class="doctors">
	<h1>Nos especializamos en</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h2>

	<div style="margin-top: 80px; margin-bottom: 80px; width: 100%;">
		<div style="border-top: 2px solid #ddd; width: 20%; margin: 0 auto;">&nbsp;</div>
	</div>

	<div class="container-fluid">
		<div class="col-sm-3">
			<div class="area">
				<img src="img/d1.png" />

				<p>dental</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="area">
				<img src="img/d2.png" />

				<p>cardiology</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="area">
				<img src="img/d3.png" />

				<p>ureology</p>
			</div>
		</div>

		<div class="col-sm-3">
			<div class="area">
				<img src="img/d4.png" />

				<p>pulmonary</p>
			</div>
		</div>
	</div>
</div>