<div class="footer" ng-if="!session.isLoggedIn()">
	<div class="container">
		<div class="col-sm-3">
			<h1>por qué preferirnos</h1>

			<div style="margin-top: 15px; margin-bottom: 10px; width: 100%;">
				<div style="border-top: 2px solid #eee; float: left; width: 20%;">&nbsp;</div>
				<div style="border-top: 2px solid #4DC4C0; float: left; width: 20%;">&nbsp;</div>
			</div>

			<br>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. </p>

			<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</p>
		</div>

		<div class="col-sm-3">
			<h1>contacto</h1>

			<div style="margin-top: 15px; margin-bottom: 10px; width: 100%;">
				<div style="border-top: 2px solid #eee; float: left; width: 20%;">&nbsp;</div>
				<div style="border-top: 2px solid #4DC4C0; float: left; width: 20%;">&nbsp;</div>
			</div>

			<br><br>

			<div class="container-fluid">
				<div style="height: 100%; width: 25px;">
					<img class="icon" src="img/i_address.png" />
				</div>

				<div style="height: 100%; font-size: 13px; text-align: justify;">
					Calle, esquina, ciudad, estado, pais.
				</div>
			</div>

			<div class="container-fluid">
				<div style="height: 100%; width: 25px;">
					<img class="icon" src="img/i_phone.png" />
				</div>

				<div style="height: 100%; font-size: 13px; text-align: justify;">
					+58 (555) 555 5555
				</div>
			</div>

			<div class="container-fluid">
				<div style="height: 100%; width: 25px;">
					<img class="icon" src="img/i_fax.png" />
				</div>

				<div style="height: 100%; font-size: 13px; text-align: justify;">
					+58 (111) 111 1111
				</div>
			</div>

			<div class="container-fluid">
				<div style="height: 100%; width: 25px;">
					<img class="icon" src="img/i_email.png" />
				</div>

				<div style="height: 100%; font-size: 13px; text-align: justify;">
					ejemplo@gmail.com
				</div>
			</div>
		</div>

		<div class="col-sm-3">
			<h1>últimos eventos</h1>

			<div style="margin-top: 15px; margin-bottom: 10px; width: 100%;">
				<div style="border-top: 2px solid #eee; float: left; width: 20%;">&nbsp;</div>
				<div style="border-top: 2px solid #4DC4C0; float: left; width: 20%;">&nbsp;</div>
			</div>

			<br><br>

			<div class="container-fluid evento">
				<div class="fecha">
					<p>19</p>
					<p>mar</p>
				</div>

				<div class="texto">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</div>
			</div>

			<div class="container-fluid evento">
				<div class="fecha">
					<p>13</p>
					<p>nov</p>
				</div>

				<div class="texto">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.
				</div>
			</div>
		</div>

		<div class="col-sm-3 suscribe">
			<h1>suscríbete</h1>

			<div style="margin-top: 15px; margin-bottom: 10px; width: 100%;">
				<div style="border-top: 2px solid #eee; float: left; width: 20%;">&nbsp;</div>
				<div style="border-top: 2px solid #4DC4C0; float: left; width: 20%;">&nbsp;</div>
			</div>

			<br>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. </p>

			<input type="text" placeholder="Introduce tu email" />
			<button>suscribir</button>
		</div>
	</div>
</div>