<div class="navbar">
	<div class="header">
		<p><img src="img/logo.png" /></p>
		<p>Médicos</p>
	</div>

	<div class="bottom">
		<div class="navigation">
			<a href="" onclick="scrollTo('.home')"><li class="active">inicio</li></a>
			<a href="" onclick="scrollTo('.services')"><li>servicios</li></a>
			<a href="" onclick="scrollTo('.doctors')"><li>doctores</li></a>
			<a href="" onclick="scrollTo('.news')"><li>noticias</li></a>
			<a href="" onclick="scrollTo('.aboutus')"><li>acerca de nosotros</li></a>
		</div>
	</div>
</div>