<div class="news">
	<h1>últimas noticias</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h2>

	<div style="margin-top: 80px; margin-bottom: 80px; width: 100%;">
		<div style="border-top: 2px solid #666; width: 20%; margin: 0 auto;">&nbsp;</div>
	</div>

	<div class="container-fluid">
		<div class="col-sm-3 new">
			<img src="img/n1.jpg" />

			<p>Lorem ipsum dolor sit amet</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 new">
			<img src="img/n2.jpg" />

			<p>Lorem ipsum dolor sit amet</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 new">
			<img src="img/n3.jpg" />

			<p>Lorem ipsum dolor sit amet</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 new">
			<img src="img/n4.jpg" />

			<p>Lorem ipsum dolor sit amet</p>
			<button>leer más</button>
		</div>
	</div>
</div>