<div class="userpanel perfil">
	<form class="form-registro" name="agregar" novalidate>
		<div class="modal-body">
			<div class="register-form">
				<div class="fila">
					<p>Nombre (*)</p>
					<input type="text" ng-init="$ctrl.paciente.nombre = session.getCurrentUser().nombre; $ctrl.paciente.id = session.getCurrentUser().id" ng-model="$ctrl.paciente.nombre" name="nombre" ng-minlength=1 ng-maxlength=32 required placeholder="Nombre" />

					<div class="tooltip-error" ng-if="agregar.nombre.$error.required && agregar.nombre.$dirty">
						Debes completar este campo

						<span class="tooltip-arrow"></span>
					</div>
				</div>

				<div class="fila">
					<p>Segundo Nombre</p>
					<input type="text" ng-model="$ctrl.paciente.snombre" name="snombre" ng-minlength=0 ng-maxlength=32 ng-init="$ctrl.paciente.snombre = session.getCurrentUser().segundo_nombre" placeholder="Segundo nombre" />
				</div>

				<div class="fila">
					<p>Apellido (*)</p>
					<input type="text" ng-model="$ctrl.paciente.apellido" ng-init="$ctrl.paciente.apellido = session.getCurrentUser().apellido" name="apellido" ng-minlength=1 ng-maxlength=32 required placeholder="Apellido" />

					<div class="tooltip-error" ng-if="agregar.apellido.$error.required && agregar.apellido.$dirty">
						Debes completar este campo

						<span class="tooltip-arrow"></span>
					</div>
				</div>

				<div class="fila">
					<p>Segundo Apellido</p>
					<input type="text" ng-model="$ctrl.paciente.sapellido" name="sapellido" ng-minlength=0 ng-maxlength=32 ng-init="$ctrl.paciente.sapellido = session.getCurrentUser().segundo_apellido" placeholder="Segundo apellido" />
				</div>

				<div class="fila">
					<p>Fecha de Nacimiento (*)</p>
					<div class="datepicker-nacimiento" style="width: 100%;">
						<input type="text" id="fecha_nac" class="form-control" ng-model="$ctrl.paciente.fecha_nacimiento" ng-init="$ctrl.paciente.fecha_nacimiento = session.getCurrentUser().fecha_nacimiento" name="fecha_nac" style="font-size: 11px;" readonly required />
					</div>

					<script type="text/javascript">
						$('.datepicker-nacimiento input').datepicker({
							format: 'dd/mm/yyyy',
						});
					</script>

					<div class="tooltip-error" ng-if="agregar.fecha_nac.$error.required && agregar.fecha_nac.$dirty">
						Debes completar este campo

						<span class="tooltip-arrow"></span>
					</div>
				</div>

				<div class="fila">
					<p>Correo electrónico</p>
					<input type="email" ng-model="$ctrl.paciente.email" ng-init="$ctrl.paciente.email = session.getCurrentUser().email" name="email" ng-minlength=0 ng-maxlength=32 placeholder="Email" required />
				</div>
			</div>					
		</div>

		<div class="modal-footer">
			<button type="submit" class="btn btn-success btn-outline" ng-disabled="agregar.$invalid" ng-click="$ctrl.actualizar()">Actualizar</button>
			
		</div>
	</form>		
</div>