<div class="services">
	<h1>nuestros servicios</h1>
	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua.</h2>

	<div style="margin-top: 80px; margin-bottom: 80px; width: 100%;">
		<div style="border-top: 2px solid #666; width: 20%; margin: 0 auto;">&nbsp;</div>
	</div>

	<div class="container-fluid">
		<div class="col-sm-3 service">
			<img src="img/i1.png" style="margin-bottom: 17px;" />

			<p>Lorem ipsum</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 service">
			<img src="img/i2.png" style="margin-bottom: 27px;" />

			<p>Lorem ipsum</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 service">
			<img src="img/i3.png" style="margin-bottom: 24px;" />

			<p>Lorem ipsum</p>
			<button>leer más</button>
		</div>

		<div class="col-sm-3 service">
			<img src="img/i4.png" style="margin-bottom: 10px;" />

			<p>Lorem ipsum</p>
			<button>leer más</button>
		</div>
	</div>
</div>