<form class="container" name="agregar" ng-controller="Area" ng-submit="registrar_area()" novalidate>
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-link" href="./#/areas">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Areas &rarr; {{ editar ? 'Editar' : 'Agregar' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
		
			<p>Nombre (*)</p>
			<input type="text" ng-model="area.nombre" name="nombre" ng-minlength=1 ng-maxlength=32 required placeholder="Nombre" />

			<div class="tooltip-error" ng-if="agregar.nombre.$error.required && agregar.nombre.$dirty">
				Debes completar este campo

				<span class="tooltip-arrow"></span>
			</div>
		</div>


		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>