<form class="container" name="agregar" ng-controller="Medico" ng-submit="registrar_medico()" novalidate>
	<div class="register-form">
		<p class="btn-volver">
			<a class="btn btn-link" href="./#/medicos">&larr; Volver</a>
		</p>

		<h1 style="font-size: 20px;">Medicos &rarr; {{ editar ? 'Editar' : 'Agregar' }}</h1>

		<p><small>(*) Campos obligatorios</small></p>

		<div class="fila">
			<p>Cédula (*)</p>

			<div style="width: 9%; float: left;">
				<select class="selectpicker" data-width="100%" ng-model="medico.tipo_cedula" name="tipo_cedula" required ts-select-fix ng-disabled="editar">
					<option ng-repeat="s in ['V', 'E']">{{ s }}</option>
				</select>
			</div>

			<input type="text" ng-model="medico.cedula" name="cedula" ng-minlength=0 ng-maxlength=32 ng-init="medico.cedula = ''" unique-bd="cedula" ng-model-options="{ updateOn: 'blur' }" placeholder="Cédula" required ng-disabled="editar" ng-pattern="/^[0-9]+$/" style="width: 65% !important;" />

			<div class="tooltip-error" ng-if="agregar.cedula.$error.required && agregar.cedula.$dirty">
				Debes completar este campo

				<span class="tooltip-arrow"></span>
			</div>

			<div class="tooltip-error" ng-if="agregar.cedula.$error.unique && agregar.cedula.$dirty">
				Cédula ya existente.

				<span class="tooltip-arrow"></span>
			</div>
		</div>

		<div class="fila">
			<p>Nombre (*)</p>
			<input type="text" ng-model="medico.nombre" name="nombre" ng-minlength=1 ng-maxlength=32 required placeholder="Nombre" />

			<div class="tooltip-error" ng-if="agregar.nombre.$error.required && agregar.nombre.$dirty">
				Debes completar este campo

				<span class="tooltip-arrow"></span>
			</div>
		</div>

		<div class="fila">
			<p>Segundo Nombre</p>
			<input type="text" ng-model="medico.snombre" name="snombre" ng-minlength=0 ng-maxlength=32 ng-init="medico.snombre = ''" placeholder="Segundo nombre" />
		</div>

		<div class="fila">
			<p>Apellido (*)</p>
			<input type="text" ng-model="medico.apellido" name="apellido" ng-minlength=1 ng-maxlength=32 required placeholder="Apellido" />

			<div class="tooltip-error" ng-if="agregar.apellido.$error.required && agregar.apellido.$dirty">
				Debes completar este campo

				<span class="tooltip-arrow"></span>
			</div>
		</div>

		<div class="fila">
			<p>Segundo Apellido</p>
			<input type="text" ng-model="medico.sapellido" name="sapellido" ng-minlength=0 ng-maxlength=32 ng-init="medico.sapellido = ''" placeholder="Segundo apellido" />
		</div>

		<div class="fila">
			<p>Fecha de Nacimiento (*)</p>
			<div class="datepicker-nacimiento" style="width: 100%;">
				<input type="text" id="fecha_nac" class="form-control" ng-model="medico.fecha_nacimiento" name="fecha_nac" style="font-size: 11px;" readonly required />
			</div>

			<script type="text/javascript">
				$('.datepicker-nacimiento input').datepicker({
					format: 'dd/mm/yyyy',
				});
			</script>

			<div class="tooltip-error" ng-if="agregar.fecha_nac.$error.required && agregar.fecha_nac.$dirty">
				Debes completar este campo

				<span class="tooltip-arrow"></span>
			</div>
		</div>

		<div class="fila" ng-init="cargar_lugares()">
			<p>Parroquia (*)</p>
			<input type="text" ng-model="medico.lugar" name="lugar" ng-minlength=10 required />

			<!--<select class="selectpicker" data-live-search="true" data-width="75%" ng-model="medico.lugar" name="lugar" required ts-select-fix>
				<option ng-repeat="lugar in lugares" value="{{ lugar.id }}" ng-if="lugar.tipo == 'parroquia'">{{ lugar.nombre_completo }}</option>
			</select>-->
		</div>

		<div class="fila">
			<p>Dirección (*)</p>
			<input type="text" ng-model="medico.direccion" name="direccion" ng-minlength=0 ng-maxlength=256 placeholder="Ej: Bloque 19, Piso 3, Apto. 319" required />
		</div>

		<div class="fila">
			<p>Sexo (*)</p>
			<select class="selectpicker" data-width="75%" ng-model="medico.sexo" name="sexo" required ts-select-fix>
				<option ng-repeat="s in ['Masculino', 'Femenino']">{{ s }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Estado civil (*)</p>
			<select class="selectpicker" data-width="75%" ng-model="medico.estado_civil" name="estado_civil" required ts-select-fix>
				<option ng-repeat="s in ['Soltero/a', 'Comprometido/a', 'Casado/a', 'Divorciado/a', 'Viudo/a']">{{ s }}</option>
			</select>
		</div>

		<div class="fila">
			<p>Correo electrónico (*)</p>
			<input type="email" ng-model="medico.email" name="email" ng-minlength=0 ng-maxlength=32 placeholder="Email" required />
		</div>

		<div class="fila">
			<p>Usuario (*)</p>
			<input type="text" ng-model="medico.usuario" name="usuario" ng-minlength=5 ng-maxlength=32 placeholder="Usuario" ng-model-options="{ updateOn: 'blur' }" unique-bd="usuario" autocomplete="off" required />

			<span ng-show="agregar.usuario.$error.minlength">El usuario debe contener al menos 5 caracteres</span>
			<span ng-show="agregar.usuario.$error.maxlength">Nombre de usuario muy largo!</span>
			<span ng-show="agregar.usuario.$error.unique && medico.usuario.length > 0">Nombre de usuario ya existente</span>
		</div>

		<div class="fila">
			<p>Contraseña (*)</p>
			<input type="password" ng-model="medico.contrasena" name="contrasena" ng-minlength=5 ng-maxlength=32 placeholder="Contraseña" autocomplete="new-password" required />

			<span ng-show="agregar.contrasena.$error.minlength">La contraseña debe contener al menos 5 caracteres</span>
			<span ng-show="agregar.contrasena.$error.maxlength">Contraseña muy larga!</span>
		</div>

		<div class="fila" ng-init="cargar_areas()">
			<p>Area(s)</p>
			<select class="selectpicker" data-live-search="true" data-width="75%" ng-model="medico.areas" ng-options="area.id as area.nombre for area in areas | quitarDeshabilitados" name="areas" multiple></select>
		</div>

		<hr/>

		<h4 ng-init="medico.telefonos = []; cargar_tipos_telefonos();">
			Teléfonos
		</h4>

		<div class="telefonos">
			Tipo <br>
			<select class="selectpicker" data-live-search="true" data-width="75%" ng-model="telefono.tipo" name="telefono_id" ts-select-fix>
				<option ng-repeat="tipo in tipos_telefonos" value="{{ tipo.nombre }}">{{ tipo.nombre }}</option>
			</select><br><br>

			Número
			<div style="width: 75%;">
				<input type="text" id="nrotelefono" class="form-control" ng-model="telefono.tlf" name="nrotelefono" style="font-size: 11px;" />
			</div> <br><br>

			<button type="button" class="btn btn-default" ng-click="anadir_telefono()">
				Añadir
			</button>
		</div>

		<table class="table table-striped">
			<thead>
				<th>&nbsp;</th>
				<th>Tipo</th>
				<th>Número</th>
			</thead>
			<tbody>
				<tr class="telefono" ng-repeat="telefono in medico.telefonos">
					<td><span ng-click="eliminar_telefono($index)" title="Eliminar">&times;</span></td>
					<td>{{ telefono.tipo }}</td>
					<td>{{ telefono.tlf }}</td>
				</tr>
			</tbody>
		</table>


		<div class="fila text-center">
			<button type="submit" class="btn btn-primary" ng-disabled="agregar.$invalid">Aceptar</button>
		</div>
	</div>
</form>